@import "tailwindcss";

@theme {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc; /* Slate 50 */
  color: #111827; /* Gray 900 */
}
